@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>

<strong>That wonderful feeling – you start the engine and your adventure begins…</strong>

<p>At Rentalcars.com everything we do is about giving you the freedom to discover more. We’ll move mountains to find you the right rental car, and bring you a smooth, hassle-free experience from start to finish. Here you can find out more about how we work.</p>